.add-todo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 12px;
  }
  
  .add-todo input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    font-size: 18px;
  }
  
  .add-todo button {
    padding: 10px 20px;
    background: #8c3fea;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .add-todo button:hover {
    background: #D8BFF6;
    color: black;
  }
 /* large screen */
 @media only screen and (min-width: 600px) {
    .add-todo {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
      }
  }