.todo-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-height: 80%;
    overflow-y: scroll;   
  }
  
  .todo-app h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #8c3fea;
  }
  .count{
    color: #8c3fea;

  }
  .lottie{
    width: 50%;
  }
  .loading{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
  }
  