.todo-filter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo-filter button {
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .todo-filter button.active {
    background: #8c3fea;
    color: #fff;
    border-color: #8c3fea;
  }
  
  .todo-filter button:hover {
    background: #D8BFF6;
    color: black;
  }
  /* large screen */
 @media only screen and (min-width: 600px) {
    .todo-filter {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-direction: row;
        gap: 5px;
      }
  }